{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block additional_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_page.css')}}">
{% endblock %}

{% include 'header.html' %}

{% block content%}
<div class="login-background-img">
    <div class="container d-flex p-3 flex-column justify-content-center image-div-height">
        <div class="mx-auto text-center cover-image-text">
            <h1>Welcome to ToDo List.</h1>
            <h3>ITS LOG IN TIME!</h3>
        </div>
    </div>
</div>
<div class="container">
    {{wtf.quick_form(form, novalidate=True, button_map={'Login': 'btn submit-custom'}) }}
</div>

{% endblock%}