{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block additional_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/todo_display_page.css')}}">
{% endblock %}

{% include 'header.html' %}

{% block content%}

<div class="sidebar-container">
    <div class="d-flex flex-column flex-shrink-0 sidebar text-center">
        <div class="container">
            {{ wtf.quick_form(form, novalidate=True, button_map={'Add': 'btn add-list-custom'}) }}
        </div>
        <hr>
        <h4>Lists:</h4>
        <table>
            {% for data in lists_data: %}
            <tr class="px-3">
                    <th><a class="lists px-2" href="{{ url_for('todo_page_display', list_id=data.id) }}">{{ data.name }}</a></th>
                    <th><a class="lists px-1" href="{{ url_for('delete_list', list_id=data.id)}}">✗</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="list-mainbox-content">
        <div>
            {{ wtf.quick_form(content_form, novalidate=True, button_map={'Add': 'btn add-task-custom'}) }}
        </div>
        <hr>
        <div>
            <table class="table table-striped table-hover table-success">
                <tbody>
                {%  for content in content_of_list: %}
                    <tr>
                        <th class="delete-box"><a href="{{ url_for('delete_list_content', content_id=content.id, list_id=list_id) }}">✔</a></th>
                        <th>{{content.content}}</th>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock%}